{
  "extends": [
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended"
  ],
  "ignorePatterns": [
    "*.config.js"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "tailwindcss/no-custom-classname": "off"
  }
}
