@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-orbitron:
    "Orbitron", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply bg-gray-50 text-gray-900 duration-100 dark:bg-gray-800 dark:text-gray-50;
    -webkit-tap-highlight-color: transparent;
  }

  input {
    /* Hide default outline (custom focus styles applied in SearchForm) */
    @apply outline-none;

    /* Hide cancel button */
    &[type="search"]::-webkit-search-cancel-button {
      @apply appearance-none;
    }
  }

  /* inline -> inline-block */
  a,
  button,
  canvas,
  img,
  input,
  label,
  select,
  span,
  svg,
  textarea {
    @apply inline-block;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl;
  }
}
